<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pecera - APIs JavaScript</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Pecera con APIs Nativas de JavaScript</h1>
    <div id="pecera-container"></div>
    <div id="peces-y-contadores">
        <div class="pez-box">
            <img src="https://i.imgur.com/1Q9Z1Zm.png" alt="Nemo" class="pez-img">
            <div>Contador Nemo: <span id="contador-nemo">0</span></div>
            <button id="btn-nemo">+1 Nemo</button>
        </div>
        <div class="pez-box">
            <img src="https://i.imgur.com/2yaf2wb.png" alt="Dory" class="pez-img">
            <div>Contador Dory: <span id="contador-dory">0</span></div>
            <button id="btn-dory">+1 Dory</button>
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>
